<div id="evg-new-template-c12" class="pc_push_popup" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <a class="push_popup" href="https://www.golfzoncounty.com/myround/coupon">
    <div class="push_image_wrap">
      <img
        src="https://io.milvus.co.kr:9010/img.milvusapp.com/pub/mika/golfzon/C10/push.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=design%2F20241028%2F%2Fs3%2Faws4_request&X-Amz-Date=20241028T085530Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=7a578a7fe1d72438a6d863ca6d93a134df6ca6980769eb2949208077916380e1"
        alt="알림이미지" class="push_image">
    </div>
    <div class="push_text">
      <span class="push_text_01"><span class="text_name">000</span>님, 예약이 완료되지 않았어요!</span>
      <span class="push_text_02"><span class="text_area">안성W</span>의 예약을 완료하세요. </span>
    </div>
  </a>
</div>
</br>
<div id="evg-new-template-c12" class="mo_push_popup" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <a class="push_popup" href="https://m.golfzoncounty.com/myround/coupon">
    <div class="push_image_wrap">
      <img
        src="https://io.milvus.co.kr:9010/img.milvusapp.com/pub/mika/golfzon/C10/push.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=design%2F20241028%2F%2Fs3%2Faws4_request&X-Amz-Date=20241028T085530Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=7a578a7fe1d72438a6d863ca6d93a134df6ca6980769eb2949208077916380e1"
        alt="알림이미지" class="push_image">
    </div>
    <div class="push_text">
      <span class="push_text_01"><span class="text_name">000</span>님, 예약이 완료되지 않았어요!</span>
      <span class="push_text_02"><span class="text_area">안성W</span>의 예약을 완료하세요.</span>
    </div>
  </a>
</div>