<div id="evg-new-template-c11" class="c11_banner_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <p class="favorites_golfzone">즐겨찾는 골프장</p>
  <div class="favorites_contents_box">
    <div class="favorites_contents_info_box">
      <div class="favorites_contents_info">
        <div class="favorites_contents_info_name_wrap">
          <span class="favorites_contents_info_name">영암45</span>
          <!-- <a href="#"; class="favorites_contents_info_randing">
                        골프장 정보 <span class="favorites_contents_info_randing_img"></span>
                    </a> -->
        </div>
        <div class="favorites_contents_info_hashtag_wrap">
          <span>#2인 플레이</span> <span>셀프</span>
        </div>
      </div>
    </div>
    <a href="#" class="favorites_contents_info_randing_ttime">
      티타임 자세히
    </a>
  </div>
</div>
</br>
<div id="evg-new-template-c11" class="c11_mo_banner_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <p class="favorites_golfzone">즐겨찾는 골프장</p>
  <div class="favorites_contents_box_wrap">
    <div class="favorites_contents_box">
      <div class="favorites_contents_info_box">
        <div class="favorites_contents_info">
          <div class="favorites_contents_info_name_wrap">
            <span class="favorites_contents_info_name">영암45</span>
            <!-- <a href="#"; class="favorites_contents_info_randing">
                            골프장 정보 <span class="favorites_contents_info_randing_img"></span>
                        </a> -->
          </div>
          <div class="favorites_contents_info_hashtag_wrap">
            <span>#2인 플레이</span> <span>셀프</span>
          </div>
        </div>
      </div>
      <a href="#" class="favorites_contents_info_randing_ttime">
        티타임 자세히
      </a>
    </div>
  </div>
</div>