<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script type="module" src="./clientside.js"></script>
  <title>C9 템플릿</title>
</head>

<body>
  <!-- PC -->
  <div id="evg-new-template" class="modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <div class="modal_popup" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info">
        <span class="contents_inner_info_area">{{area}}</span>
        <div class="contents_inner_info_title">
          <p class="contents_inner_info_title_top">{{titleTop}}</p>
          <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
        </div>
        <span class="contents_inner_info_subtitle">{{subTitle}}</span>
      </div>
      <div class="contents_inner_button">
        <a href={{randingUrlPC}}>바로가기 ></a>
        <span class="p_close_btn" data-evg-dismissal>닫기</span>
      </div>
    </div>
    <div class="modal_popup_bg">
    </div>
  </div>
  </br>
  <!-- Tablet -->
  <div id="evg-new-template" class="ta_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <div class="modal_popup" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info">
        <span class="contents_inner_info_area">{{area}}</span>
        <div class="contents_inner_info_title">
          <p class="contents_inner_info_title_top">{{titleTop}}</p>
          <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
        </div>
        <span class="contents_inner_info_subtitle">{{subTitle}}</span>
      </div>
      <div class="contents_inner_button">
        <a href={{randingUrlPC}}>바로가기 ></a>
        <span class="p_close_btn" data-evg-dismissal>닫기</span>
      </div>
    </div>
    <div class="modal_popup_bg">
    </div>
  </div>
  </br>
  <!-- MO -->
  <div id="evg-new-template" class="mo_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <div class="mo_modal_popup" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info">
        <span class="contents_inner_info_area">{{area}}</span>
        <div class="contents_inner_info_title">
          <p class="contents_inner_info_title_top">{{titleTop}}</p>
          <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
        </div>
        <span class="contents_inner_info_subtitle">{{subTitle}}</span>
      </div>
      <div class="contents_inner_button">
        <a href={{randingUrlMO}}>바로가기 ></a>
        <span class="p_close_btn" data-evg-dismissal>닫기</span>
      </div>
    </div>
    <div class="mo_modal_popup_bg">
    </div>
  </div>
</body>

</html>