<!-- PC -->
<div id="evg-new-template-c9" class="modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="modal_popup">
    <div class="contents_inner_info">
      <div class="contents_inner_info_image_wrap">
        <div class="contents_inner_info_image_button">
          X
        </div>
        <div class="contents_inner_info_image" style="background-image:url({{imageUrl}})">

        </div>
      </div>
      <span class="contents_inner_info_recom"><span class="text_name">000님</span>을 위한 추천 골프장</span>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_middle">{{titleMiddle}}</p>
        <p class="contents_inner_info_title_bottom">{{titleBottom}}</p>
        <p class="contents_inner_info_title_today_btn" data-evg-dismissal>오늘 하루 보지 않기</p>
      </div>
    </div>
    <div class="contents_inner_button">
      <a href="javascript:void(0);">예약 바로가기 ></a>
    </div>
  </div>
  <div class="modal_popup_bg">
  </div>
</div>
</br>
<!-- Tablet -->
<div id="evg-new-template-c9" class="ta_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="modal_popup">
    <div class="contents_inner_info">
      <div class="contents_inner_info_image_wrap">
        <div class="contents_inner_info_image_button">
          X
        </div>
        <div class="contents_inner_info_image" style="background-image:url({{imageUrl}})">

        </div>
      </div>
      <span class="contents_inner_info_recom"><span class="text_name">000님</span>을을 위한 추천 골프장</span>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_middle">{{titleMiddle}}</p>
        <p class="contents_inner_info_title_bottom">{{titleBottom}}</p>
        <p class="contents_inner_info_title_today_btn" data-evg-dismissal>오늘 하루 보지 않기</p>
      </div>
    </div>
    <div class="contents_inner_button">
      <a href="javascript:void(0);">예약 바로가기 ></a>
    </div>
  </div>
  <div class="modal_popup_bg">
  </div>
</div>
</br>
<!-- MO -->
<div id="evg-new-template-c9" class="mo_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="mo_modal_popup">
    <div class="contents_inner_info">
      <div class="contents_inner_info_image_wrap">
        <div class="contents_inner_info_image_button">
          X
        </div>
        <div class="contents_inner_info_image" style="background-image:url({{imageUrl}})">
        </div>
      </div>
      <span class="contents_inner_info_recom"><span class="text_name">000님</span>을 위한 추천 골프장</span>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_middle">{{titleMiddle}}</p>
        <p class="contents_inner_info_title_bottom">{{titleBottom}}</p>
        <p class="contents_inner_info_title_today_btn" data-evg-dismissal>오늘 하루 보지 않기</p>
      </div>
    </div>
    <div class="contents_inner_button">
      <a href="javascript:void(0);">예약 바로가기 ></a>
    </div>
  </div>
  <div class="mo_modal_popup_bg">
  </div>
</div>