/* All */

div.contents_inner_info_image_button, p.contents_inner_info_title_today_btn{
  cursor: pointer;
}

/* PC */

div.modal_popup_wrap > div.modal_popup_bg{
  position: fixed;
  left:0px;
  top:0px;
  background-color: #000;
  opacity: 0.3;
  width:100vw;
  height: 100vh;
  z-index: 9;
  display: block;
}

div.modal_popup_wrap > div.modal_popup{
  width:364px;
  /* height: 424px; */
  border-radius: 28px;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  z-index: 10;
  display: block;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  border-radius: 28px 28px 0px 0px;
  position: relative;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > span.contents_inner_info_recom{
  color: #838383;
  font-size: 18px;
  text-shadow: 1px #fff;
  margin:25px 0px;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap{
  width:100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image_button{
  position: absolute;
  right: 30px;
  top:30px;
  color:#FFF;
  font-size: 24px;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image{
  width:100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 28px 28px 0px 0px;
}



div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color:#000;
  gap: 8px;
  padding-bottom: 65px;
  font-weight: 600;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title > p.contents_inner_info_title_today_btn{
  position: absolute;
  left:20px;
  bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_info > span.contents_inner_info_subtitle{
  margin-bottom: 90px;
  color:#d1f2ff;
  font-size: 18px;
}

div.modal_popup_wrap > div.modal_popup > div.contents_inner_button{
  background-color: #088af9;
  padding: 20px 0px;
  box-sizing: border-box;
  margin-top: -5px;
  border-radius: 0px 0px 28px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.modal_popup_wrap > div.modal_popup > div.contents_inner_button > a{
  width:100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}

/* Tablet */

div.ta_modal_popup_wrap > div.modal_popup_bg{
  position: fixed;
  left:0px;
  top:0px;
  background-color: #000;
  opacity: 0.3;
  width:100vw;
  height: 100vh;
  z-index: 9;
  display: block;
}

div.ta_modal_popup_wrap > div.modal_popup{
  width:364px;
  /* height: 424px; */
  border-radius: 28px;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  z-index: 10;
  display: block;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  border-radius: 28px 28px 0px 0px;
  position: relative;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > span.contents_inner_info_recom{
  color: #838383;
  font-size: 18px;
  text-shadow: 1px #fff;
  margin:25px 0px;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap{
  width:100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image_button{
  position: absolute;
  right: 30px;
  top:30px;
  color:#FFF;
  font-size: 24px;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image{
  width:100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 28px 28px 0px 0px;
}



div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color:#000;
  gap: 8px;
  padding-bottom: 65px;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title > p.contents_inner_info_title_today_btn{
  position: absolute;
  left:20px;
  bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_info > span.contents_inner_info_subtitle{
  margin-bottom: 90px;
  color:#d1f2ff;
  font-size: 18px;
}

div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_button{
  background-color: #088af9;
  padding: 20px 0px;
  box-sizing: border-box;
  margin-top: -5px;
  border-radius: 0px 0px 28px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.ta_modal_popup_wrap > div.modal_popup > div.contents_inner_button > a{
  width:100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}



/* 모바일 */

div.mo_modal_popup_wrap > div.modal_popup_bg{
  position: fixed;
  left:0px;
  top:0px;
  background-color: #000;
  opacity: 0.3;
  width:100vw;
  height: 100vh;
  z-index: 9;
  display: block;
}

div.mo_modal_popup_wrap > div.modal_popup{
  width:85.0926vw;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  border-radius: 6.9444vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  display: block;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info{
  background-color: #efefef;
  border-radius: 28px 28px 0px 0px;
  box-sizing: border-box;
}
div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap{
  position: relative;
  width:100%;
  border-radius: 28px 28px 0px 0px;
  padding: 0.9259vw;
  box-sizing: border-box;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image{
  width:100%;
  height: 38.8889vw;
  border-radius: 28px 28px 0px 0px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_image_wrap > div.contents_inner_info_image_button{
  position: absolute;
  right: 4.7778vw;
  top:4.7778vw;
  color:#FFF;
  font-size: 5.7037vw;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > span.contents_inner_info_recom{
  color: #838383;
  font-size: 3.7963vw;
  display: block;
  text-shadow: 1px #fff;
  margin:4.6296vw auto;
  text-align: center;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title{
  font-size: 3.7037vw;
  color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7407vw;
  padding-bottom: 12.0185vw;
  box-sizing: border-box;
  font-weight: 600;
  position: relative;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_info > div.contents_inner_info_title > p.contents_inner_info_title_today_btn{
  font-size: 3vw;
  position: absolute;
  left:2.8519vw;
  bottom: 2.8519vw;
  font-weight: normal;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_button{
  background-color: #088af9;
  padding: 1.8519vw 0px;
  box-sizing: border-box;
  margin-top: -5px;
  border-radius: 0px 0px 28px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mo_modal_popup_wrap > div.modal_popup > div.contents_inner_button > a{
  width:100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color:#fff;
  font-weight: bold;
  font-size: 3.7037vw;
}

/* 












*/




