<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script type="module" src="./clientside.js"></script>
  <title>C10 템플릿</title>
</head>

<body>
  <div id="evg-new-template" class="pc_push_popup" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <a class="push_popup" href="https://www.golfzoncounty.com/myround/coupon">
      <div class="push_image_wrap">
        <img
          src="https://image.mkt.golfzoncounty.com/lib/fe3211747364047a741773/m/1/45a50438-b322-4f95-b9f8-14407cd0b112.png"
          alt="알림이미지" class="push_image">
      </div>
      <div class="push_text">
        신규가입쿠폰 외 2개가 있으니 사용하세요.
      </div>
    </a>
  </div>
  </br>
  <div id="evg-new-template" class="mo_push_popup" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <a class="push_popup" href="https://m.golfzoncounty.com/myround/coupon">
      <div class="push_image_wrap">
        <img
          src="https://image.mkt.golfzoncounty.com/lib/fe3211747364047a741773/m/1/45a50438-b322-4f95-b9f8-14407cd0b112.png"
          alt="알림이미지" class="push_image">
      </div>
      <div class="push_text">
        신규가입쿠폰 외 2개가 있으니 사용하세요.
      </div>
    </a>
  </div>
</body>

</html>