<div id="evg-new-template-c10" class="pc_push_popup" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <a class="push_popup" href="https://www.golfzoncounty.com/myround/coupon">
    <div class="push_image_wrap">
      <img
        src="https://io.milvus.co.kr:9010/img.milvusapp.com/pub/mika/golfzon/C10/push.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=design%2F20241028%2F%2Fs3%2Faws4_request&X-Amz-Date=20241028T085530Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=7a578a7fe1d72438a6d863ca6d93a134df6ca6980769eb2949208077916380e1"
        alt="알림이미지" class="push_image">
    </div>
    <div class="push_text">
      <span class="coupon_name">신규가입쿠폰</span> 쿠폰 외 <span class="coupon_length">2</span>개가 있으니 사용하세요.
    </div>
  </a>
</div>
</br>
<div id="evg-new-template-c10" class="mo_push_popup" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <a class="push_popup" href="https://m.golfzoncounty.com/myround/coupon">
    <div class="push_image_wrap">
      <img
        src="https://io.milvus.co.kr:9010/img.milvusapp.com/pub/mika/golfzon/C10/push.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=design%2F20241028%2F%2Fs3%2Faws4_request&X-Amz-Date=20241028T085530Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=7a578a7fe1d72438a6d863ca6d93a134df6ca6980769eb2949208077916380e1"
        alt="알림이미지" class="push_image">
    </div>
    <div class="push_text">
      <span class="coupon_name">신규가입쿠폰</span> 쿠폰 외 <span class="coupon_length">2</span>개가 있으니 사용하세요.
    </div>
  </a>
</div>