<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script type="module" src="./clientside.js"></script>
  <title>C8 템플릿</title>
</head>

<body>
  <div class="modal_popup">
    <div class="contents_inner_info">
      <span class="contents_inner_info_area">안성H</span>
      <span class="contents_inner_info_title">
        골프로드 <br>
        <b>여름 골프는 여기!</b>
      </span>
      <span class="contents_inner_info_subtitle">(화랑, 진천, 천안 라운드 시 혜택)</span>
      <!-- <img src="./images/area.png" alt="지역 이미지" class="contents_inner_info_img"> -->
    </div>
    <div class="contents_inner_button">
      <a href="#;">바로가기 ></a>
      <span>닫기</span>
    </div>
  </div>

</body>

</html>