<!-- PC -->

<div id="evg-new-template-c8" class="c8_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="modal_popup">
    <div class="contents_inner_info" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info_area">
        {{area}}
      </div>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
      </div>
      <a class="contents_inner_info_subtitle" href={{randingUrlPC}} style="background:{{btnColor}}">
        자세히보기
      </a>
    </div>
    <div class="contents_inner_button">
      <div class="contents_inner_button_left_btn" data-evg-dismissal>
        오늘 하루 보지 않기
      </div>
      <div class="contents_inner_button_right_btn">
        닫기
      </div>
    </div>
  </div>
  <div class="modal_popup_bg">

  </div>
</div>
</br>

<!-- Tablet -->
<div id="evg-new-template-c8" class="c8_tab_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="modal_popup">
    <div class="contents_inner_info" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info_area">
        {{area}}
      </div>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
      </div>
      <a class="contents_inner_info_subtitle" href={{randingUrlMO}} style="background:{{btnColor}}">
        자세히보기
      </a>
    </div>
    <div class="contents_inner_button">
      <div class="contents_inner_button_left_btn" data-evg-dismissal>
        오늘 하루 보지 않기
      </div>
      <div class="contents_inner_button_right_btn">
        닫기
      </div>
    </div>
  </div>
  <div class="modal_popup_bg">

  </div>
</div>
</br>

<!-- Mobile -->
<div id="evg-new-template-c8" class="c8_mo_modal_popup_wrap" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
  <div class="modal_popup">
    <div class="contents_inner_info" style="background-image:url({{imageUrl}})">
      <div class="contents_inner_info_area">
        {{area}}
      </div>
      <div class="contents_inner_info_title">
        <p class="contents_inner_info_title_top">{{titleTop}}</p>
        <p class="contents_inner_info_title_bottom"><b>{{titleBottom}}</b></p>
      </div>
      <a class="contents_inner_info_subtitle" href={{randingUrlMO}}>
        자세히보기
      </a>
    </div>
    <div class="contents_inner_button">
      <div class="contents_inner_button_left_btn" data-evg-dismissal>
        오늘 하루 보지 않기
      </div>
      <div class="contents_inner_button_right_btn">
        닫기
      </div>
    </div>
  </div>
  <div class="modal_popup_bg">

  </div>
</div>